:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}
/** ul */
.listEl {
  list-style: none;
}

/** li */
.gallery__item {
  display: inline-block;
  margin: 10px;
}

.lightbox__overlay {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  display: none;
}

.lightbox__image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: none;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
